* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh sans", sans-serif;
  scroll-behavior: smooth;
}

/* #E94057,  #261132 */

.navbar {
  background: #261132;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav_items {
  height: 80px;
}

.nav_link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
}

.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  margin-left: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);

  color: #fff;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav_link:hover {
  color: #c42494;
}

/* <!--Mobile View ---> */
@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    height: 80px;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding: 0;
    width: 1300px;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    width: 100%;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    margin: 0;
  }

  .navbar_menu.active {
    background: #261132;
    top: 100%;
    transition: all 0.5s ease;
    height: 60vh;
    opacity: 1;
    font-size: 1.6rem;
    z-index: 99;
  }

  #navbar_logo {
    padding-right: 280px;
    font-weight: 600;
    font-size: 25px;
  }

  .nav_toggle .bar {
    width: 25px;
    transition: all 0.3s ease-in-out;
    background: #fff;
    height: 3px;
    margin: 5px auto;
    display: block;
    cursor: pointer;
  }

  .nav_items {
    width: 100%;
  }

  .nav_link {
    display: table;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .nav_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mobile-view {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-view.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-view.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-view.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* <!--  Body Section  ---> */

.body {
  background: #261132;
  background: linear-gradient(to right, #15091b, #261132);
  padding: 200px 0;
}

.body_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.home_left {
  margin-right: 90px;
}

.home_right {
  margin-bottom: 300px;
}

.home_img {
  max-width: 650px;
  margin-top: 350px;
}

.body_heading {
  font-size: 80px;
  margin-bottom: 24px;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

.home_description {
  font-size: 20px;
  color: rgb(218, 166, 166);
  padding: 4px;
}

.main_button {
  display: flex;
  justify-content: center;
  height: 20%;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);

  color: #fff;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 16px;
  font-size: 16px;
}

/*  <!--- Service Section ---> */
.services {
  background-color: rgb(255, 255, 255);
}

.web_services {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  margin: 25px;
}

.services_img {
  max-width: 650px;
  margin-bottom: ;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 125px;
  margin-bottom: 150px;
}

.services_heading {
  font-size: 45px;
  margin-top: 170px;
  margin-right: 294px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

.sevices_description {
  display: inline-table;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  font-weight: 400;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

.services_container1 {
  background-color: #261132;
}

.services_container2 {
  background-color: ;
}

.services_container3 {
  background-color: #261132;
}

.servicesHeading {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  font-weight: 800;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

/* <!----  About Section  ----> */
.about_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 100px;
}

.component_heading {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  font-weight: 800;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

.card {
  margin-left: 50px;
  width: 650px;
  height: 500px;
  background-color: #e9dbe3;
  z-index: 1;
  border-radius: 10px;
}

.card_info {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
  justify-content: center;
  margin-top: 30%;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

.about_info {
  margin-right: 50px;
  width: 650px;
  height: 500px;
  background-color: #e9dbe3;
  z-index: 1;
  border-radius: 10px;
}

.info {
  display: flex;
  align-items: center;
  color: #3c1053;
  font-size: 20px;
  font-weight: 600;
  font-style: oblique;
  justify-content: center;
}

.info_content {
  padding-top: 10%;
  margin-left: 100px;
  margin-right: 100px;
}

.aboutInfo_head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 40px;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -no-text-fill-color: transparent;
}

/* <!---- Testimonial Section ----> */

.testimonial_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  background-color: rgb(235, 229, 229);
  padding: 10px;
  border-radius: 40px;
}

.avatar {
  display: flex;
  max-width: 150px;
  justify-content: center;
}

img {
  border-radius: 50%;
  margin: 15px;
}

.testimonial__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px;
  font-size: 20px;
  font-style: italic;
}

.person_name {
  display: flex;
  justify-content: center;
  font-style: oblique;
}

/* <!---- Contact Section ----> */
